[build]
  command = "npm run build"
  publish = ".next"

[functions]
  node_bundler = "esbuild"
  timeout = 15

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/___netlify-handler"
  status = 200